* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b1120;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px !important;
  background: rgba(17, 24, 39, 0.8);
  background: rgba(17, 24, 39, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
}

.navbar.hide {
  transform: translateY(-100%);
}

.logo {
  font-size: 30px;
  font-weight: bold;
}

.logo a {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}

.logo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.35s ease;
}

.logo a:hover::after {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px !important;
  margin: 0px 100px;
}

.nav-links li {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
  opacity: 0.7;
  transition: 0.3s;
  color: white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li:hover {
  opacity: 1;
}

.nav-links li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #3b82f6;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  transition: 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  height: 67vh;
  background: url("images/background-overview.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 50px;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  margin: 0 30px;
  z-index: 2;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  margin: 8px 0;
  opacity: 0.8;
}

.hero button {
  position: absolute;
  padding: 14px 20px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  z-index: 100;
}

.hero button:hover {
  color: #428aff;
  background: transparent;
  border: 1.5px solid #3b82f6;
  scale: calc(1.07);
  transition: 0.2s ease;
}

.quick {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 20px;
}

.quick-card {
  position: relative;
  margin-top: -22px;
  background: #111827;
  padding: 120px 0px;
  border-radius: 16px;
  min-width: 500px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  scroll-snap-align: start;
}

.quick-card::before,
.quick-card-car::before,
.quick-card-map::before,
.quick-card-job::before,
.quick-card-wiki::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.quick-card:hover::before,
.quick-card-car:hover::before,
.quick-card-map:hover::before,
.quick-card-job:hover::before,
.quick-card-wiki:hover::before {
  background: rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.quick-card-car {
  position: relative;
  background: #111827;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/car.jpg") center/cover no-repeat;
}

.quick-card-map {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/map.webp") center/cover no-repeat;
}

.quick-card-job {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/job.webp") center/cover no-repeat;
}

.quick-card-wiki {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/Fandom.png") center/90% auto no-repeat;
}

.quick-card *,
.quick-card-car *,
.quick-card-map *,
.quick-card-job *,
.quick-card-wiki * {
  position: relative;
  z-index: 2;
}

.quick-card h3 {
  color: white;
  transition: 0.2s ease;
}

.quick-card:hover h3,
.quick-card-car:hover h3,
.quick-card-map:hover h3,
.quick-card-job:hover h3,
.quick-card-wiki:hover h3 {
  text-shadow: 0 0 10px rgba(17, 24, 39, 0.8);
  transition: 0.2s ease;
}

.quick p {
  color: white;
  margin: 8px 0
}

.quick-card:hover,
.quick-card-car:hover,
.quick-card-map:hover,
.quick-card-job:hover,
.quick-card-wiki:hover {
  scale: calc(1.03);
  cursor: pointer;
}

.featured {
  padding: 40px;
}

.featured h2 {
  margin-bottom: 20px;
}

.updates {
  padding: 40px;
}

.update-box {
  line-height: 23px;
  background: #111827;
  padding: 20px;
  margin: 10px 0;
  border-radius: 16px;
} 

.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  max-height: 555px;
  width: 250px;
  background: #111827;
  padding: 20px;
  border-radius: 16px;
}

.sidebar h3 {
  margin-bottom: 15px;
}

.sidebar label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.sidebar select,
.sidebar input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

.sidebar button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#price {
  margin-top: 10px;
}

#vehicle-list .loading {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 28vh 0;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  padding: 8px 15px;
  height: 35vh;
  border-radius: 16px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 2;
  transition: 0.3s ease;
}

.card:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.card::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  z-index: 3;
  transition: 0.3s ease;
}

.card:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
  z-index: 4; /* lebih tinggi dari overlay */
  text-decoration: none; /* hilangkan underline */
  cursor: pointer;
}

.card:hover .overlay-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay-text:hover {
  color: #fbff00;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 20px !important;
  z-index: 10;
}

.card h3 {
  z-index: 10;
}

.card p {
  color: #22c55e;
  margin-top: -3px;
  z-index: 10;
}

.card span {
  font-size: 14px;
  opacity: 0.7;
}

.card img {
  margin: -20px 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: 0.3s ease;
}

.card:hover img {
  scale: calc(1.1);
  transform: translateY(-2px);
}

.card:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.view-all-vehicle {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #111827;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.view-all-vehicle:hover {
  background: #154abd;
  transition: 0.3s ease;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #868686 25%, #fff 50%, #868686 75%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
  transition: 0.5s;
}

.details-container {
  display: flex;
  padding: 25px 20px;
  gap: 20px;
  align-items: flex-start;
}

.car-name {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.back-button {
  display: flex;
  position: absolute;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back-button button {
  margin: 12px auto;
  padding: 10px 15px;
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  color: #0b1120;
  font-family: 'Poppins' sans-serif;
  font-size: 16px;
  font-weight: 500;
  transition: 0.25s ease;
}

.back-button button:hover {
  scale: calc(1.05);
  background: #0b1120;
  color: #fff;
  border: 2px solid #fff;
}

.left-car-details {
  flex: 2;
}

.left-car-details img {
  width: 100%;
  max-height: 500px;
  border-radius: 12px;
  background: #111827;
  padding: 20px;
  transition: 0.3s;
  object-fit: contain;
}

.left-car-details h2 {
  padding: 25px 20px;
}

.specs {
  margin-top: -10px;
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.specs p {
  background-color: #0b1120;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

.right-car-details {
  flex: 1;
  background: #111827;
  padding: 20px;
  margin: 78px 0;
  border-radius: 12px;
  height: fit-content;
}

.right-car-details h3 {
  margin-bottom: 15px;
}

.colors {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.color-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.color-box:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.color-box.active {
  border: 2px solid #22c55e;
}

.quick {
  padding: 40px 20px;
}

.quick-card-dealer::before,
.quick-card-rivers::before,
.quick-card-horton::before,
.quick-card-brookmere::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.quick-card-dealer:hover::before,
.quick-card-rivers:hover::before,
.quick-card-horton:hover::before,
.quick-card-brookmere:hover::before {
  background: rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.quick-card-dealer,
.quick-card-rivers,
.quick-card-horton,
.quick-card-brookmere {
  position: relative;
  margin-top: -22px;
  background: #111827;
  padding: 140px 0px;
  border-radius: 16px;
  min-width: 520px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  scroll-snap-align: start;
}

.spawnhead {
  margin: 30px 42px;
}

.quick-card-dealer *,
.quick-card-rivers *,
.quick-card-horton *,
.quick-card-brookmere * {
  position: relative;
  z-index: 2;
}

.quick-card-dealer:hover h3,
.quick-card-rivers:hover h3,
.quick-card-horton:hover h3,
.quick-card-brookmere:hover h3 {
  text-shadow: 0 0 10px rgba(17, 24, 39, 0.8);
  transition: 0.2s ease;
}

.quick p {
  color: white;
  margin: 8px 0
}

.quick-card-dealer:hover,
.quick-card-rivers:hover,
.quick-card-horton:hover,
.quick-card-brookmere:hover {
  scale: calc(1.03);
  cursor: pointer;
}

.spawn-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 30px 35px;
  scroll-behavior: smooth;
  scroll-padding-left: 40px;
  scroll-padding-right: 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.spawn-container::-webkit-scrollbar {
  display: none; 
  height: 8px;
}

.spawn-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.maps-details-container {
  display: flex;
  padding: 25px 25px;
  gap: 20px;
  align-items: flex-start;
}

.maps-details-container h2 {
  padding: 25px 15px;
}

.map-images {
  flex: 2;
}

.map-images h1 {
  font-size: 38px;
  margin-top: -10px;
  padding: 15px 10px;
}

.map-images img {
  width: 100%;
  max-height: 500px;
  border-radius: 12px;
  background: #111827;
  padding: 20px;
  transition: 0.3s;
  object-fit: contain;
}

.paragraph-card {
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paragraph-card p {
  padding: 15px;
  font-size: 16px;
}
  
@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loading.slow p {
  animation-duration: 4s;
}

.loading.done p {
  animation: none;
  background: none;
  -webkit-text-fill-color: white;
  color: white;
  -webkit-background-clip: initial;
}

@media (max-width: 1024px) {
  .nav-links {
    gap: 20px;
    margin: 0 40px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .quick {
    grid-template-columns: repeat(2, 1fr);
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map {
    padding: 70px;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
  }

  .hero {
    height: auto;
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
  }

  .hero-text {
    margin: 0;
  }

  .hero-text h1 {
    font-size: 26px;
  }

  .hero button {
    position: static;
    margin-top: 15px;
  }

  .quick {
    grid-template-columns: 1fr;
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map,
  .quick-card-job {
    padding: 60px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .container {
    flex-direction: column;
  }

  .left img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 22px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map,
  .quick-card-job {
    padding: 50px 15px;
  }

  .card {
    padding: 10px;
  }

  .card h2 {
    font-size: 16px;
  }
}
