* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0b1120;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 40px !important;
  background: rgba(17, 24, 39, 0.8);
  background: rgba(17, 24, 39, 0.95);
  position: sticky;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease;
  backdrop-filter: blur(10px);
}

.navbar.hide {
  transform: translateY(-100%);
}

.logo {
  font-size: 30px;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.logo a {
  font-family: "Inter", sans-serif;
  color: #fff;
  text-decoration: none;
}

.logo a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #fff;
  transition: 0.35s ease;
}

.logo a:hover::after {
  width: 100%;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 40px !important;
  margin: 0px 100px;
}

.nav-links li {
  cursor: pointer;
  position: relative;
  padding-bottom: 5px;
  opacity: 0.7;
  transition: 0.3s;
  color: white;
}

.nav-links li a {
  text-decoration: none;
  color: white;
}

.nav-links li:hover {
  opacity: 1;
}

.nav-links li.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #3b82f6;
}

.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  transition: 0.3s;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #3b82f6;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.hero {
  position: relative;
  height: 67vh;
  background: url("images/background-overview.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  padding: 50px;
  z-index: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-text {
  margin: 0 30px;
  z-index: 2;
}

.hero-text h1 {
  font-size: 40px;
}

.hero-text p {
  margin: 8px 0;
  opacity: 0.8;
}

.hero button {
  position: absolute;
  padding: 14px 20px;
  border: none;
  background: #3b82f6;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s ease;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 100;
}

.hero button:hover {
  color: #428aff;
  background: transparent;
  border: 1.5px solid #3b82f6;
  scale: calc(1.07);
  transition: 0.2s ease;
}

.quick {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 40px 20px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quick-card {
  position: relative;
  margin-top: -22px;
  background: #111827;
  padding: 120px 0px;
  border-radius: 16px;
  min-width: 500px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  scroll-snap-align: start;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.quick-card::before,
.quick-card-car::before,
.quick-card-map::before,
.quick-card-job::before,
.quick-card-wiki::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.quick-card:hover::before,
.quick-card-car:hover::before,
.quick-card-map:hover::before,
.quick-card-job:hover::before,
.quick-card-wiki:hover::before {
  background: rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.quick-card-car {
  position: relative;
  background: #111827;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/car.jpg") center/cover no-repeat;
}

.quick-card-map {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/map.webp") center/cover no-repeat;
}

.quick-card-job {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/job.webp") center/cover no-repeat;
}

.quick-card-wiki {
  position: relative;
  padding: 100px;
  border-radius: 16px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  background: url("images/Fandom.png") center/90% auto no-repeat;
}

.quick-card *,
.quick-card-car *,
.quick-card-map *,
.quick-card-job *,
.quick-card-wiki * {
  position: relative;
  z-index: 2;
}

.quick-card h3 {
  color: white;
  transition: 0.2s ease;
}

.quick-card:hover h3,
.quick-card-car:hover h3,
.quick-card-map:hover h3,
.quick-card-job:hover h3,
.quick-card-wiki:hover h3 {
  text-shadow: 0 0 10px rgba(17, 24, 39, 0.8);
  transition: 0.2s ease;
}

.quick p {
  color: white;
  margin: 8px 0
}

.quick-card:hover,
.quick-card-car:hover,
.quick-card-map:hover,
.quick-card-job:hover,
.quick-card-wiki:hover {
  scale: calc(1.03);
  cursor: pointer;
}

.featured {
  padding: 40px;
}

.featured h2 {
  margin-bottom: 20px;
}

.updates {
  padding: 40px;
}

.update-box {
  line-height: 23px;
  background: #111827;
  padding: 20px;
  margin: 10px 0;
  border-radius: 16px;
} 

.header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header input {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

.container {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.sidebar {
  max-height: 555px;
  width: 250px;
  background: #111827;
  padding: 20px;
  border-radius: 16px;
}

.sidebar h3 {
  margin-bottom: 15px;
}

.sidebar label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

.sidebar select,
.sidebar input {
  width: 100%;
  margin-top: 5px;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #1f2937;
  color: white;
}

.sidebar button {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  border: none;
  background: #3b82f6;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#price {
  margin-top: 10px;
}

#vehicle-list .loading {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 28vh 0;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  padding: 8px 15px;
  height: 35vh;
  border-radius: 16px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  pointer-events: none;
  z-index: 2;
  transition: 0.3s ease;
}

.card:hover::before {
  background: rgba(0, 0, 0, 0.6);
}

.card::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  z-index: 3;
  transition: 0.3s ease;
}

.card:hover::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  color: white;
  font-weight: bold;
  opacity: 0;
  transition: 0.3s;
  z-index: 4; /* lebih tinggi dari overlay */
  text-decoration: none; /* hilangkan underline */
  cursor: pointer;
}

.card:hover .overlay-text {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.overlay-text:hover {
  color: #fbff00;
}

.card h2 {
  margin: 10px 0 5px;
  font-size: 20px !important;
  z-index: 10;
}

.card h3 {
  z-index: 10;
}

.card p {
  color: #22c55e;
  margin-top: -3px;
  z-index: 10;
}

.card span {
  font-size: 14px;
  opacity: 0.7;
}

.card img {
  margin: -20px 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  transition: 0.3s ease;
}

.card:hover img {
  scale: calc(1.1);
  transform: translateY(-2px);
}

.card:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.view-all-vehicle {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #111827;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s ease;
}

.view-all-vehicle:hover {
  background: #154abd;
  transition: 0.3s ease;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading p {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  background: linear-gradient(90deg, #868686 25%, #fff 50%, #868686 75%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
  transition: 0.5s;
}

.details-container {
  display: flex;
  padding: 25px 20px;
  gap: 20px;
  align-items: flex-start;
}

.car-name {
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.back-button {
  display: flex;
  position: fixed; /* ganti ini */
  top: 27px;       /* jarak dari atas */
  left: 29px;      /* jarak dari kiri */
  z-index: 1000;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.back-button button {
  margin: 12px auto;
  padding: 12px 17px;
  text-decoration: none;
  background: #fff;
  border-radius: 10px;
  border: none;
  color: #0b1120;
  font-size: 16px;
  font-weight: 500;
  transition: 0.25s ease;
}

.back-button button:hover {
  scale: calc(1.05);
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

.left-car-details {
  flex: 2;
}

.left-car-details img {
  width: 100%;
  max-height: 500px;
  border-radius: 12px;
  background: #111827;
  padding: 20px;
  transition: 0.3s;
  object-fit: contain;
}

.left-car-details h2 {
  padding: 25px 20px;
}

.specs {
  margin-top: -10px;
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.specs p {
  background-color: #0b1120;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 16px;
}

.right-car-details {
  flex: 1;
  background: #111827;
  padding: 20px;
  margin: 78px 0;
  border-radius: 12px;
  height: fit-content;
}

.right-car-details h3 {
  margin-bottom: 15px;
}

.colors {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.color-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: 0.2s;
}

.color-box:hover {
  transform: scale(1.1);
  border: 2px solid white;
}

.color-box.active {
  border: 2px solid #22c55e;
}

.quick {
  padding: 40px 20px;
}

.quick-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.3s ease;
}

.quick-card:hover::before {
  background: rgba(0,0,0,0.2);
  transition: 0.3s ease;
}

.quick-card {
  position: relative;
  margin-top: -22px;
  background: #111827;
  padding: 140px 0px;
  border-radius: 16px;
  min-width: 520px;
  text-align: center;
  transition: 0.3s;
  overflow: hidden;
  color: white;
  scroll-snap-align: start;
}

#quick-card-roadmap {
  background: url("images/dealership.webp") center/cover no-repeat;
}

#quick-card-rivers {
  background: url("images/ron rivers.webp") center/cover no-repeat;
}

#quick-card-horton {
  background: url("images/horton.webp") center/cover no-repeat;
}

#quick-card-brookmere {
  background: url("images/brookmere.webp") center/cover no-repeat;
}

.spawnhead {
  margin: 30px 42px;
  z-index: 1;
}

.quick-card * {
  position: relative;
  z-index: 2;
}

.quick-card:hover h3 {
  text-shadow: 0 0 10px rgba(17, 24, 39, 0.8);
  transition: 0.2s ease;
}

.quick p {
  color: white;
  margin: 8px 0
}

.quick-card:hover {
  scale: calc(1.03);
  cursor: pointer;
}

.spawn-container {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 30px 35px;
  scroll-behavior: smooth;
  scroll-padding-left: 40px;
  scroll-padding-right: 30px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.spawn-container::-webkit-scrollbar {
  display: none; 
  height: 8px;
}

.spawn-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.maps-details-container {
  display: flex;
  padding: 25px 25px;
  gap: 20px;
  align-items: flex-start;
}

.maps-details-container h2 {
  padding: 25px 15px;
}

.left-maps {
  flex: 2;
}

.left-maps img {
  width: 100%;
  max-height: 100%;
  border-radius: 12px;
  background: #111827;
  padding: 20px;
  transition: 0.3s;
  object-fit: contain;
}

.left-maps h1 {
  font-size: 38px;
  margin-top: 0px;
  padding: 15px 0px;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}

.paragraph-card {
  margin-top: -8px;
  max-width: fit-content;
  background: #111827;
  padding: 20px;
  border-radius: 12px;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.paragraph-card p {
  line-height: 160%;
  padding: 4px 5px;
  font-size: 16px;
}

.gmaps {
  margin-top: 15px;
  border-radius: 20px;
  border: 0.5px solid #ddd;
  width: 100%;
  height: 400px;
}

.right-maps {
  position: sticky;
  top: 100px;
  flex: 1;
  padding: 20px;
  border-radius: 12px;
  height: fit-content;
}

.overview {
  width: 100%;
  background: #111827;
  border-collapse: separate;
  border-spacing: 0;
  border: 0.5px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}

/* Header */
.overview th {
  background: #0b1120;
  padding: 16px;
  text-align: center;
  font-weight: 600;
}

/* Isi tabel */
.overview td {
  padding: 16px 20px;
}

.overview tbody tr:not(:last-child) td {
  border-bottom: 1px solid #f0f0f0;
  border: none;
}

.greenville-form-wrapper {
  margin-top: -60px;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.left-form, .right-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#vehicleForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 98%;
  margin: 50px auto;
  padding: 30px;
  background: #0c121f;
  border-radius: 16px;
}

#vehicleForm button {
  grid-column: span 2;
  margin-top: 12px;
  padding: 12px;
  background: #2563eb;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#vehicleForm button:hover {
  background: #1d4ed8;
}

#vehicleForm input {
  width: 100%;
  padding: 15px;
  margin: 0;
  border-radius: 8px;
  border: 1px solid #374151;
  background: #090e1b;
  color: white;
}

#vehicleForm p {
  font-size: 15px;
}

#vehicleForm input:focus {
  outline: none;
  border-color: #2563eb;
}

#vehicleForm #id {
  background: #121825;
  color: white;
  font-style: italic;
}

.upload-box {
  grid-column: span 1;
  height: calc(81px * 2 + 10px);
  border: 2px dashed #374151;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s;
  background: #060b1a;
}

.upload-box:hover {
  border-color: #2563eb;
}

.upload-file {
  text-align: center;
  color: #9ca3af;
}

.upload-file .upload-icon {
  font-size: 28px;
  font-weight: bold;
  color: #9ca3af;
  cursor: pointer;
  transition: 0.2s;
}

.upload-file .upload-icon:hover,
.upload-file p:hover {
  color: #2563eb;
  transition: 0.2s;
}

.upload-file p {
  font-size: 12px;
  margin-top: 5px;
}

@media (max-width: 768px) {
  #vehicleForm {
    grid-template-columns: 1fr;
  }

  #vehicleForm button {
    grid-column: span 1;
  }
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.loading.slow p {
  animation-duration: 4s;
}

.loading.done p {
  animation: none;
  background: none;
  -webkit-text-fill-color: white;
  color: white;
  -webkit-background-clip: initial;
}

.wiki-container {
    display: flex;
    width: 100%;
    height: 100vh;
    }

    .wiki-sidebar {
    display: flex;
    flex-direction: column;
    width: 320px;
    min-height: 100vh;
    position: sticky;
    top: 0;
    background: rgba(15,23,42,0.6);
    backdrop-filter: blur(10px);
    border-right: 1px solid #414651;
    border-radius: 0;
    padding: 20px;
    transition: width 0.25s ease, padding 0.25s ease;
    overflow: hidden;
    }

    .wiki-sidebar h2::after {
    content: "\f0c9";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.25s ease, opacity 0.2s;
    transform-origin: center;
    }

    /* TITLE */
    .wiki-sidebar h2 {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin: 20px 6px;
    margin-bottom: 12px;
    justify-content: space-between;
    }

    /* COLLAPSED STATE */
    .wiki-sidebar.collapsed {
    width: 70px;
    padding-top: 40px;
    color: #818ea1;
    }

    /* LOGO G */
    .wiki-sidebar.collapsed::before {
    content: "G";
    display: block;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
    }

    /* SEARCH ICON */
    .wiki-sidebar.collapsed::after {
    content: "\f002";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: block;
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
    }

    /* MENU DEFAULT */
    .menu li {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #818ea1;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .menu li::before {
    content: none !important;
    }

    .menu li.wiki-active {
    position: relative;
    background: rgba(23, 40, 80, 0.6);
    color: #3b82f6;
    }

    .menu li.wiki-active::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 100%;
    background: #2e66c0;
    border-radius: 2px;
    transform: scaleY(1) !important;
    }

    .menu li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 3px;
    height: 100%;
    background: #3b82f6;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s ease;
    }

    .menu li:hover {
    background: rgba(22, 33, 59, 0.6);
    color: #478dff;
    }

    .menu li:hover::after {
    transform: scaleY(1);
    }

    .wiki-sidebar.collapsed .menu li.wiki-active::after {
    height: 0;
    }

    /* COLLAPSED MENU */
    .wiki-sidebar.collapsed .menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    height: 40px;
    padding: 0;
    gap: 0;
    font-size: 0;
    transition: all 0.2s ease;
    }

    /* ICON BASE */
    .wiki-sidebar.collapsed .menu li::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    }

    .wiki-sidebar.collapsed .menu li:nth-child(1)::before {
    content: "\e3af" !important;
    }

    .wiki-sidebar.collapsed .menu li:nth-child(2)::before {
    content: "\f0c0" !important;
    }

    .wiki-sidebar.collapsed .menu li:nth-child(3)::before {
    content: "\23" !important;
    }

    .wiki-sidebar.collapsed .menu li:nth-child(4)::before {
    content: "\f059" !important;
    }

    .wiki-sidebar.collapsed .menu li:hover {
    scale: calc(1.2);
    }

    .wiki-sidebar.collapsed h2::after {
    transform: rotate(-90deg);
    }

    /* HIDE ELEMENTS */
    .wiki-sidebar.collapsed h2 {
    font-size: 0;
    margin-top: 8px;
    margin-bottom: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    }

    .wiki-sidebar.collapsed .search {
    display: none;
    }

    .wiki-sidebar.collapsed::before {
    order: 0;
    margin-bottom: 12px;
    }

    /* SEARCH (dibawah G) */
    .wiki-sidebar.collapsed::after {
    order: 1;
    margin-bottom: 16px;
    }

    /* MENU (dibawah search) */
    .wiki-sidebar .menu {
    order: 2;
    }

    .search {
    width: 100%;
    padding: 10px 12px;
    margin-top: 8px !important;
    margin-bottom: 20px;
    background: transparent !important;
    color: #ffffff !important;
    border: 1px solid #414651 !important;
    border-radius: 10px;
    outline: none;
    }

    .search::placeholder {
    color: #505663 !important;
    }

    .main-wrapper {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    min-width: 0;
    overflow-y: auto;
    margin-bottom: 100px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    }

    .main-wrapper::-webkit-scrollbar {
    display: none;
    }

    /* MAIN */
    .main {
    width: 100%;
    max-width: 950px;
    padding: 40px;
    }

    /* UI */
    .title {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    }

    .box {
    border: 2.5px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    padding: 15px 18px;
    background: rgba(15,23,42,0.6);
    margin-bottom: 20px;
    }

    #open-discuss {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 18px;
    color: #ffffff;
    resize: none;
    height: 70px;
    outline: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .actions {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    }

    .btn, .more-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    }

    .btn {
    padding: 8px 16px;
    border-radius: 8px;
    border: 2.5px solid rgba(255,255,255,0.1);
    background: transparent;
    color: rgba(255,255,255,0.55);
    cursor: pointer;
    font-size: 14px;
    transition: all 0.1s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .btn i {
    font-size: 19px;
    }

    #post {
    margin-left: auto;
    border: none;
    margin-top: 5px;
    }

    .more-btn {
    padding: 7px 16px;
    border-radius: 8px;
    border: 2.5px solid rgba(255,255,255,0.1);
    background: rgba(15,23,42,0.6);
    font-weight: 500;
    color: rgba(255,255,255,0.55);
    cursor: pointer;
    font-size: 15px;
    transition: all 0.1s ease;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }

    .more-btn i {
    font-size: 15px;
    }

    #gn-idea {
    z-index: 10;
    }

    .dropdown {
    position: relative;
    display: inline-block;
    }

    .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: auto;
    margin-top: -4px;
    background: rgba(15,23,42,0.95);
    color: #94a3b8;
    border: 1px solid rgba(255,255,255,0.1);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    width: 100%;
    min-width: 160px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.25s ease;
    z-index: 0;
    }

    .dropdown-menu.active {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
    }

    .dropdown-menu p {
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    }

    .dropdown-menu p i {
    margin-right: 9px;
    }

    .dropdown-menu p:hover {
    background: rgba(22, 33, 59, 0.6);
    color: #ffffffe7;
    }

    #up-down-dropdown {
    font-size: 12px;
    margin-top: 8px;
    transition: transform 0.25s ease;
    }

    #up-down-dropdown.rotate {
    transform: translateY(-7px) rotate(180deg);
    }

    .more-action {
    margin-left: 25px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
    }

    .btn:hover,
    .more-btn:hover {
    background: rgba(22, 33, 59, 0.6);
    color: #ffffffe7;
    }

    .headpost {
    margin-top: 25px;
    font-weight: bold;
    }

    .post {
    margin-top: 10px;
    border: 2.5px solid rgba(255,255,255,0.1);
    border-radius: 12px;
    padding: 12px;
    background: rgba(15,23,42,0.6);
    }

    .post-margin {
    margin: 2px 5px;
    }

    .post #recommend {
    color: rgba(255,255,255,0.65);
    margin-bottom: 10px;
    }

    #recommend i {
    margin-left: 5px;
    }

    .post small {
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    margin-left: 6px;
    }

    .post-header {
    display: flex;
    align-items: center;
    }

    .like-btn {
    margin-left: auto; /* ini kunci → dorong ke kanan */
    margin-right: 8px;
    background: transparent;
    border: none;
    color: #94a3b8;
    cursor: pointer;
    font-size: 17px;
    }

    #post-date {
    color: #94a3b8;
    font-size: 12px;
    font-weight: 100;
    }

    #user {
    font-size: 32px;
    margin: 0px 2px;
    }

    .post #comment {
    margin-top: 12px;
    }

    .post-footer {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 6px;
    margin-left: 10px;
    gap: 30px;
    color: #758294;
    }

    #icon-repost {
    transform: rotate(90deg);
    }

    .post-footer i {
    font-size: 17px;
    line-height: 1;
    cursor: pointer;
    }

    .post-footer p {
    margin-top: 0px;
    margin-left: -20px;
    font-size: 15px;
    line-height: 1;
    cursor: pointer;
    }

    /* RIGHT */
    .right {
    width: 350px;
    flex-shrink: 0;
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 40px 20px;
    }

    .panel {
    height: 300px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid rgba(255,255,255,0.1);
    background: rgba(15,23,42,0.6);
    }

    /* =========================
   <= 1100px (TABLET)
========================= */
@media (max-width: 1100px) {
  .right {
    display: none;
  }
}

/* =========================
   <= 800px (TABLET KECIL)
========================= */
@media (max-width: 800px) {
  .wiki-sidebar {
    display: none;
  }

  .main {
    padding: 20px;
  }
}

/* =========================
   <= 768px (MOBILE)
========================= */
@media (max-width: 768px) {

  .wiki-sidebar {
    display: flex;

    width: 100%;
    height: 65px;

    justify-content: flex-end; /* 🔥 bukan flex-end */
    align-items: center;
    padding: 0;
    border-top: 1px solid #414651;
    border-right: none;
    width: 100%;
    height: 65px;
    z-index: 9999;
    box-sizing: border-box;
  }

  /* SEMBUNYIKAN ELEMENT TIDAK PERLU */
  .wiki-sidebar h2,
  .wiki-sidebar .search {
    display: none;
  }

  /* MENU */
  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;
  }

  /* ITEM */
  .menu li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 4px;
    padding: 6px;

    font-size: 0;
    min-width: 60px; /* 🔥 biar rata */
  }

  /* ICON */
  .menu li i {
    font-size: 22px;
  }

  /* ACTIVE */
  .menu li.wiki-active {
    background: transparent;
  }

  .menu li.wiki-active i {
    color: #3b82f6;
  }

  /* HOVER OFF */
  .menu li:hover {
    background: transparent;
  }

  /* CONTENT SAFE AREA */
  .main {
    padding-bottom: 85px;
  }
}

@media (max-width: 1024px) {
  .nav-links {
    gap: 20px;
    margin: 0 40px;
  }

  .hero-text h1 {
    font-size: 32px;
  }

  .quick {
    grid-template-columns: repeat(2, 1fr);
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map {
    padding: 70px;
  }

  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
  }

  .hero {
    height: auto;
    padding: 40px 20px;
    text-align: center;
    justify-content: center;
  }

  .hero-text {
    margin: 0;
  }

  .hero-text h1 {
    font-size: 26px;
  }

  .hero button {
    position: static;
    margin-top: 15px;
  }

  .quick {
    grid-template-columns: 1fr;
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map,
  .quick-card-job {
    padding: 60px 20px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .container {
    flex-direction: column;
  }

  .left img {
    max-height: 300px;
  }
}

@media (max-width: 480px) {
  .logo {
    font-size: 22px;
  }

  .hero-text h1 {
    font-size: 22px;
  }

  .hero-text p {
    font-size: 14px;
  }

  .quick-card,
  .quick-card-car,
  .quick-card-map,
  .quick-card-job {
    padding: 50px 15px;
  }

  .card {
    padding: 10px;
  }

  .card h2 {
    font-size: 16px;
  }
}
